*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    height: 100vh;
    background: black;
}

.input-container{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input{
    height: 30px;
    width: 400px;
    padding: 20px 20px;
    border-radius: 5px 5px;
    border: none;
    outline: none;
}

#create{
    margin-left: 20px;
    height: 42px;
    padding: 0px 20px;
    border-radius: 5px 5px;
    border: none;
    border: 1px gray solid ;
    color: black;
    font-size: medium;
    font-weight: bold;
}

#create:hover{
    box-shadow: 0px 2px gray;
    color: black;
}

.display-container{
    height: 450px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

#hex-btns{
    width: 800px;
    height: 400px;
    border: 1px gray solid ;
    overflow-y: auto;
    padding: 20px;

    /* try grid here*/
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

#bg-display{
    width: 400px;
    height: 400px;
    border: 1px gray solid ;
}

.color-btn{
    width: 130px;
    height: 125px;
    border-radius: 5px 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
}

.color-btn:hover{
    box-shadow: 2px 2px black;
    cursor: pointer;
}